.idea/
cmake-build-*/
*.i
*.s

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

*.exe
*.out
*.app
*.o
*.obj
*.a
*.la
*.lo
*.so
*.dylib
*.dll
*.pdb

.DS_Store
Thumbs.db